#app{
    height: 100%;
}

*{
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    background-color: white;
    position: relative;
    overflow-y: auto;
}

a{
    color: black;
}

.error{
    display: flex;
    justify-content: center;
    font-size: 80%;
    color: rgb(213, 0, 0);
    max-width: 400px;
    width: 100%;
    margin-bottom: 10px;
}

button, img{
    transition: opacity 0.2s;
    cursor: pointer;
}

button:hover, img:hover{
    opacity: 0.8;
}



