#app{
    height: 100%;
}

*{
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    background-color: white;
    position: relative;
    overflow-y: auto;
}

a{
    color: black;
}

button, img{
    transition: opacity 0.2s;
    cursor: pointer;
}

button:hover, img:hover{
    opacity: 0.8;
}

.breadcrumb {
  font-size: 0.85rem;
  color: #888;
  margin-bottom: 8px;
}

.breadcrumb a {
  color: #888;
  text-decoration: none;
}
.breadcrumb a:hover {
  text-decoration: underline;
}


